/Library
/Logs
/Temp
/UpgradeLog.htm
/obj/Debug
/*.sln
/.vs/oops-framework-cocos2unity/FileContentIndex/*.vsidx
/.vs/oops-framework-cocos2unity/v16
/.vs/oops-framework-cocos2unity/v17
/*.csproj
/*.vsconfig
/Assets/HybridCLRGenerate.meta
/Assets/HybridCLRGenerate/AOTGenericReferences.cs.meta
/Assets/HybridCLRGenerate
/HybridCLRData
