/Library
/Logs
/Temp
/UpgradeLog.htm
/obj/Debug
/*.sln
/*.csproj
/*.vsconfig
/Assets/HybridCLRGenerate.meta
/Assets/HybridCLRGenerate/AOTGenericReferences.cs.meta
/Assets/HybridCLRGenerate
/HybridCLRData
/.vs
/TestResource/Download
/Assets/StreamingAssets
/Assets/StreamingAssets.meta
/Bundles
/Export
/yoo
